@media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
    }
}

@media screen and (max-width: 450px) {
  .main-container {
    height: calc(100vh - 149px);
  }
}