* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Libre Baskerville', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: #D17261;
}

a, .btn {
    transition: all 300ms ease;
}

nav, .nav-links {
    display: flex;
}

nav {
    border-radius: 0 0 70% 70%;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    background-color: #ffffb1;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: #D17261;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #D17261;
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 300ms ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #FFC6C4;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.menu-links {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}
  
.section-container {
    display: flex;
}
  
  /* PROFILE SECTION */
  
#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.logo-image {
    border: 2px solid black;
    border-radius: 0 70%;
}
  
.section__text {
    align-self: center;
    text-align: center;
}
  
.section__text p {
    font-weight: 600;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    width: 95vw;
}

.container{
    display: inline-block;
}
  
.title {
    margin-bottom: 15px;
    font-size: 3rem;
    text-align: center;
}
  
#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}
  
  /* ICONS */
  
.icon {
    cursor: pointer;
    height: 2rem;
}
  
button {
    font-family: inherit;
}  

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
  
.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 10rem;
    border-radius: 2rem;
}
  
.btn-color-1,
.btn-color-2 {
    border: black 0.1rem solid;
}
  
.btn-color-1:hover,
.btn-color-2:hover {
    border-color: white;
    cursor: pointer;
}
  
.btn-color-1 {
    background: #FFC6C4;
    color: black;
}
  
.btn-color-1:hover {
    color: white;
    background: rgb(0, 0, 0);
}
  
.btn-color-2 {
    background-color: #D4E4FF;
}
  
.btn-color-2:hover {
    color: white;
    background: black;
}
  
.btn-container {
    gap: 1rem;
}

#section-title {
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.card-container {
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    justify-content: center;
}

.card {
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    margin: 25px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
}

.card-content {
    padding: 50px;
}

.card-content p {
    color: black;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}